@import "tailwindcss";

/* Enable class-based dark mode in Tailwind v4 */
/* @variant dark (&:where(.dark, .dark *)); */

* {
  scrollbar-width: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}
